<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
   <p>This an self blogging platform named as <b><span class="aboutcls">SREEBLOG</span> created by <span class="aboutcls">SREERAM</span></b></p>
     <p>Send your valuable suggestions and feedback to  <i> <a class="link2" href="">sreesreeram71@gmail.com</a></i></p>
     <br>
     <p>ThankYou:)</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>